<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="linkup">
    <meta name="author" content="linkup">
    <link rel="icon" href="linkup.ico">

    <title>Linkup index</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    <!-- Index style -->
    <link rel="stylesheet" href="css/index.css">
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">LinkUp</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>

    <!-- Main index for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Bienvenidos a Link Up</h1>
        <p>Aqui podras administrar los usuarios de la aplicacion, administrar denuncias, generar reportes y mucho mas!</p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Denuncias</h2>
          <p>Mediante la administracion de denuncias podras ver las distintas denuncias que se produjeron en la aplicacion. </p>
          <p>En las mismas podran observarse quien denuncio a quien y ver quienes son los usuarios mas denunciados  </p>
          <p><a href="denounces.html" class="btn btn-secondary" href="#" role="button">Explorar &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Usuarios</h2>
          <p>En la administracion de usuarios se podran observar los usuarios que tiene la aplicacion. </p> 
          <p>Ademas se podra ver el perfil de los mismos y las preferencias de busqueda que establecieron, asi como tambien sus intereses actuales </p>
          <p><a class="btn btn-secondary" href="#" role="button">Administrar &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Reportes</h2>
          <p>La generacion de reportes es una herramienta muy itilizada por los administradores</p>
          <p>Aqui generar reportes de usuarios mas denunciados, cantidad de usuarios activos para un determinado año, tambien se pueden obtener filtros por edad y muchas cosas mas</p>
          <p><a class="btn btn-secondary" href="#" role="button">Generar &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; LinkUp Company 2017</p>
      </footer>
    </div> <!-- /container -->
  </body>
</html>
