<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="linkup.ico">
  
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

  <!-- Angularjs -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="admin.js"></script>
</head>

<body>
  <div class="container">
    <div class="col-md-8">
      <div ng-app="LinkUp" ng-controller="Controller">
        <form>
          <br>
            <div class="button-group">
              <button type="button" class="btn btn-primary" ng-click="getDenounces()">Get Denounces</button>
            </div>
          <br>

          <div class="table-group">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Nombre</th>
                  <th>Denunciado por</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="den in denounces">
                  <td>{{ den.id }}</td>
                  <td>{{ den.name }}</td>
                  <td>{{ den.denouncedName }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
