<mat-sidenav-container fullscreen>
        <!-- <mat-sidenav mode="side" opened="true" style="padding: 5em 1em 1em 1em ;width:15%; background: #CFD8DC">
                
          
          
        </mat-sidenav> -->
        <div class="container" style=" padding: 5em 3em 2em 3em !important ;">


                <h2>
                        <font color="grey"> Administración de Denuncias</font>
                </h2>

                <hr>
                <app-denouncestable></app-denouncestable>

        </div>

</mat-sidenav-container>