<!-- Main index for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Bienvenidos a Link Up</h1>
    <p>Aqui podras administrar los usuarios de la aplicacion, administrar denuncias, generar reportes y mucho mas!</p>
  </div>
</div>

<div class="container" style="height: 100%">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Denuncias</h2>
      <p>Mediante la administracion de denuncias podras ver las distintas denuncias que se produjeron en la aplicacion. </p>
      <p>En las mismas podran observarse quien denuncio a quien y ver quienes son los usuarios mas denunciados  </p>
      <p><a routerLink="/denounces" class="btn btn-secondary" href="#" role="button">Explorar &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Usuarios</h2>
      <p>En la administracion de usuarios se podran observar los usuarios que tiene la aplicacion. </p> 
      <p>Ademas se podra ver el perfil de los mismos y las preferencias de busqueda que establecieron, asi como tambien sus intereses actuales </p>
      <p><a class="btn btn-secondary" role="button">Administrar (Proximamente) &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Reportes</h2>
      <p>La generacion de reportes es una herramienta muy itilizada por los administradores</p>
      <p>Aqui generar reportes de usuarios mas denunciados, cantidad de usuarios activos para un determinado año, tambien se pueden obtener filtros por edad y muchas cosas mas</p>
      <p><a class="btn btn-secondary" role="button">Generar (Proximamente) &raquo;</a></p>
    </div>
  </div>

  <hr>

  <footer>
    <p>&copy; LinkUp Company 2017</p>
  </footer>
</div> <!-- /container -->

