a.active {
    color: gray;
    background-color: #ECEFF1;
    border-left: 4px solid #B0BEC5;
    margin-left: -2px;
  }

a.non-active {
    color: gray
}

a.non-active:hover {
    background-color: #B0BEC5;
}


/* Structure */
.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
  
  .example-header {
    min-height: 64px;
    display: fixed;
    align-items: center;
    padding-left: 24px;
    font-size: 20px;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }
  
  .mat-header-cell .mat-sort-header-sorted {
    color: black;
    
  }
/* Structure */
.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.mat-form-field {
  font-size: 14px;
  
}



.mat-table {
  overflow: auto;
  max-height: 450px;
}


::ng-deep .mat-sort-header-container {
  position: sticky; top: 0;
  display:flex;
  justify-content:center;
}