a.active {
    color: gray;
    background-color: #ECEFF1;
    border-left: 4px solid #B0BEC5;
    margin-left: -2px;
  }

a.non-active {
    color: gray
}
a.non-active:hover {
    background-color: #B0BEC5;
}

/* .mat-card-header-text {
    width: 50%
} */



/* Structure */
.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
  
  .example-header {
    min-height: 64px;
    display: fixed;
    align-items: center;
    padding-left: 24px;
    font-size: 20px;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }
  
  .mat-header-cell .mat-sort-header-sorted {
    color: black;
  }
/* Structure */
.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  
}

.mat-table {
  overflow: auto;
  max-height: 450px;
}


.scroll-container {
  overflow-y: scroll;
  max-height: 450px;
}

.btn-link {
  color: gray
}
.btn-link:hover {
  color: black
}

.flex-center-vertically {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 400px;
}