<div class="example-container mat-elevation-z8">
            <mat-table #table [dataSource]="dataSource" matSort>
          
              <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->
          
              <!-- ID Column -->
              <ng-container matColumnDef="sendUName">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Denunciante </mat-header-cell>
                <mat-cell *matCellDef="let denounce"> 
                        
                        <button (click)="showProfile(denounce.recUID)" mat-button color="primary">
                              {{denounce.sendUName}}
                        </button>
                                     
                        
                  </mat-cell>
              </ng-container>
          
              <!-- Progress Column -->
              <ng-container matColumnDef="recUName">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Denunciado </mat-header-cell>
                <mat-cell *matCellDef="let denounce"> 
                        <button (click)="showProfile(denounce.recUID)" mat-button color="primary">
                              {{denounce.recUName}} 
                        </button>
                  </mat-cell>
              </ng-container>
          
              <!-- Name Column -->
              <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Estado </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.status}} </mat-cell>
              </ng-container>
          
            <!-- Color Column -->
            <ng-container matColumnDef="type">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Tipo</mat-header-cell>
                  <mat-cell *matCellDef="let row" > tipo </mat-cell>
            </ng-container>

              <!-- Color Column -->
              <ng-container matColumnDef="message">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Motivo </mat-header-cell>
                <mat-cell *matCellDef="let row" > {{row.message}} </mat-cell>
              </ng-container>

            
              <ng-container matColumnDef="accept">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Aceptar </mat-header-cell>
                        <mat-cell *matCellDef="let denounce" > 
                              <div *ngIf="denounce.status == 'pendiente'">
                                          <button (click)='acceptDenounce(denounce)' type="button" class="btn btn-sm btn-success">Aceptar</button>
                              </div>
                        </mat-cell>
                      </ng-container>

                      
              <ng-container matColumnDef="reject">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Rechazar </mat-header-cell>
                  <mat-cell *matCellDef="let denounce" > 
                              <div *ngIf="denounce.status == 'pendiente'">
                                    
                                    <button (click)='rejectDenounce(denounce)' type="button" class="btn btn-sm btn-danger">Rechazar</button>
                              </div>
                        </mat-cell>
              </ng-container>
          
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>

</div>