<div class="example-header">
      <form>
            <mat-form-field style="width: 70%">
                  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar" />

            </mat-form-field>
            <mat-form-field style="width: 29%">
                  <mat-select [(value)]="selected">
                        <mat-option value="sender">Denunciante</mat-option>
                        <mat-option value="receiver">Denunciado</mat-option>
                        <mat-option value="type">Tipo</mat-option>
                  </mat-select>
            </mat-form-field>
      </form>

</div>
<div class="example-container mat-elevation-z8">

      <div class="example-container mat-elevation-z8">

            <!-- HEADER -->
            <mat-table #table [dataSource]="dataSource" matSort class="text-center">

                  <!-- Denunciante -->
                  <ng-container matColumnDef="sendUName">
                        <mat-header-cell *matHeaderCellDef mat-sort-header fix-head> Denunciante </mat-header-cell>
                        <mat-cell *matCellDef="let denounce">
                        </mat-cell>
                  </ng-container>

                  <!-- Denunciado -->
                  <ng-container matColumnDef="recUName">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Denunciado </mat-header-cell>
                        <mat-cell *matCellDef="let denounce">
                        </mat-cell>
                  </ng-container>

                  <!-- Estado -->
                  <ng-container matColumnDef="status">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Estado </mat-header-cell>
                        <mat-cell *matCellDef="let row"> </mat-cell>
                  </ng-container>

                  <!-- Tipo -->
                  <ng-container matColumnDef="type">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Tipo</mat-header-cell>
                        <mat-cell *matCellDef="let row">
                        </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="accept">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Bloquear </mat-header-cell>
                        <mat-cell *matCellDef="let denounce">
                        </mat-cell>
                  </ng-container>

                  <!-- Boton Rechazar -->
                  <ng-container matColumnDef="reject">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Rechazar </mat-header-cell>
                        <mat-cell *matCellDef="let denounce">
                        </mat-cell>
                  </ng-container>
                  
                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;" style="position: fixed; visibility: hidden"></mat-row>
            </mat-table>

            <!-- CONTENIDO -->
            <mat-table #table [dataSource]="dataSource" matSort class="text-center">

                  <!-- Denunciante -->
                  <ng-container matColumnDef="sendUName">
                        <mat-header-cell *matHeaderCellDef mat-sort-header fix-head> Denunciante </mat-header-cell>
                        <mat-cell *matCellDef="let denounce">
                              <button (click)="showProfile(denounce.sendUID)" mat-button color="primary">
                                    {{denounce.sendUName}}
                              </button>
                        </mat-cell>
                  </ng-container>

                  <!-- Denunciado -->
                  <ng-container matColumnDef="recUName">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Denunciado </mat-header-cell>
                        <mat-cell *matCellDef="let denounce">
                              <button (click)="showProfile(denounce.recUID)" mat-button color="primary">
                                    {{denounce.recUName}}
                              </button>
                        </mat-cell>
                  </ng-container>

                  <!-- Estado -->
                  <ng-container matColumnDef="status">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Estado </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.status}} </mat-cell>
                  </ng-container>

                  <!-- Tipo -->
                  <ng-container matColumnDef="type">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Tipo</mat-header-cell>
                        <mat-cell *matCellDef="let row">
                              <span *ngIf="row.type == 'otro'" matTooltip="{{row.message}}">{{row.type}} </span>
                              <div *ngIf="row.type != 'otro'">{{row.type}} </div>
                        </mat-cell>
                  </ng-container>

                  <!-- Mensaje -->
                  <!-- <ng-container matColumnDef="message">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Motivo </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.message}} </mat-cell>
                  </ng-container> -->

                  <!-- Boton de aceptar -->
                  <ng-container matColumnDef="accept">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Bloquear </mat-header-cell>
                        <mat-cell *matCellDef="let denounce">
                              <div *ngIf="denounce.status == 'pendiente'">
                                    <button (click)='acceptDenounce(denounce)' type="button" class="btn btn-sm btn-success">
                                          <i class="fa fa-check" aria-hidden="true"></i> Bloquear </button>
                              </div>
                        </mat-cell>
                  </ng-container>

                  <!-- Boton Rechazar -->
                  <ng-container matColumnDef="reject">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Rechazar </mat-header-cell>
                        <mat-cell *matCellDef="let denounce">
                              <div *ngIf="denounce.status == 'pendiente'">
                                    <button (click)='rejectDenounce(denounce)' type="button" class="btn btn-sm btn-danger">
                                          <i class="fa fa-times" aria-hidden="true"></i> Rechazar</button>
                              </div>
                        </mat-cell>
                  </ng-container>

                  <mat-header-row *matHeaderRowDef="displayedColumns" style="position: fixed;
                  /* float: top; */
                  visibility: hidden;
                  z-index: 2;"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>

      </div>